<%- include ('header') -%>


<div class="box">
    <!-- <% var btnid = 0%> -->
    <% newListItem.forEach(item => { %>
    <!-- List items inside of FORM to submit data  -->
   
    <form action="/delete" method="post">
        <div class="item">
            <!-- OnCheckboxing (onChange event) the data(ITem id) submits instead of explicit submit button -->
            <input type="checkbox" name="deleteItem" value="<%=item._id%>" onChange="this.form.submit()">
            <input type="text" id = "<%=item._id%>" name="modvalue" value="<%= item.name %>" disabled>
        
        <input type="hidden" name="listType" value=<%= listType  %> >
    </form>

    <form action="/modify" method="post">
        <div class="modifybtn">
        <!--<input type="text" id="name" name="changevalue" > -->
        <!-- <span> 
           
            <input type="button" id = <%= btnid %>  name="modifybtn" 
            onclick="sample('<%=item._id%>')"></i></input>
          
        </span> -->
      
         <button type = "button" name="modifybtn" onclick="sample('<%=item._id%>')"><i class="fa fa-pencil fa-xs "></i></button>
        </div>
    </div>
    <input type="hidden" name="modifyid" value="<%=item._id%>">
    <input type="hidden" name ="modifyvalue" value="<%= item.name %>">
    <input type="hidden" name="listType" value=<%= listType  %> >
    
    </form>
    <!-- <% btnid += 1  %>  -->
    <% }); %>



    <form class="item" action="/" method="post">

        <!-- <label for="newItem"></label>Enter data -->
        <input type="text" name="newItem" id="newItem" placeholder="New Item" autocomplete="off">

        <button type="submit" name="list" value=<%= listType %>>+</button>

    </form>
</div>

<div class="box" id="footer">
    <h1><%=listType%> </h1>
</div>

<script>
    function sample(valueId){
       var toggleMod =  document.getElementById(valueId);
    //    var changeTextbtn = document.getElementById(btnid);
       if(toggleMod.hasAttribute('disabled')){
       toggleMod.toggleAttribute('disabled',false);
    //    changeTextbtn.innerHTML = "Edit Content";
       }
       else {
       toggleMod.toggleAttribute('disabled',true);
    //    changeTextbtn.innerHTML = "Submit";
       }
    // console.log(changeTextbtn);
          
    }
</script>
<%- include ('footer') -%>