<%- include ('header') -%>


<div class="box">
    <!-- btnid for to set id attribute for submission -->
    <% var btnid = 0%>
    <% newListItem.forEach(item => { %>
    <!-- List items inside of FORM to submit data  -->
   
    <form action="/delete" method="post">
        <div class="item">
            <!-- OnCheckboxing (onChange event) the data(ITem id) submits instead of explicit submit button -->
            <input type="checkbox" name="deleteItem" value="<%=item._id%>" onChange="this.form.submit()">
            <input type="text" id = "<%=item._id%>" name="modvalue" value="<%= item.name %>" disabled>
        
        <input type="hidden" name="listType" value=<%= listType  %> >
    </form>
 <!-- This modform is to modify items in the list -->
    <form name = "modForm" action="/modify" method="post">
        <div class="modifybtn">
        <!-- modbtn on clicking enables user to edit the input -->
        <button type = "button" name = "modbtn" onclick="modItem('<%=item._id%>','<%= btnid %>')"><i class="fa fa-pencil fa-xs "></i></button>
        
        <!--This btn is for submitting the input-->
        <button type = "button" style = "display: none;" 
        id = "<%= btnid %>"  onclick="submitValue('<%=item._id%>','<%= btnid %>')"></button>
        </div>
    <!-- Hidden data to send via post method -->
    <input type="hidden" name="modifyid" value="<%=item._id%>">
    <input type="hidden" name ="modifyvalue" value="<%= item.name %>">
    <input type="hidden" name="listType" value=<%= listType  %> >
    
    </form>
   
</div>
<% btnid += 1  %> 
<% }); %>
    
    
  



    <form class="item" action="/" method="post">
        <input type="text" name="newItem" id="newItem" placeholder="New Item" autocomplete="off">

        <button type="submit" name="list" value=<%= listType %>>+</button>

    </form>
</div>

<div class="box" id="footer">
    <h1><%=listType%> </h1>
</div>

<script src="JS/modScript.js"></script>
<%- include ('footer') -%>