<%- include ('header') -%>


<div class="box">
    <% var btnid = 0%>
    <% newListItem.forEach(item => { %>
    <!-- List items inside of FORM to submit data  -->
   
    <form action="/delete" method="post">
        <div class="item">
            <!-- OnCheckboxing (onChange event) the data(ITem id) submits instead of explicit submit button -->
            <input type="checkbox" name="deleteItem" value="<%=item._id%>" onChange="this.form.submit()">
            <input type="text" id = "<%=item._id%>" name="modvalue" value="<%= item.name %>" disabled>
        
        <input type="hidden" name="listType" value=<%= listType  %> >
    </form>

    <form name = "modForm" action="/modify" method="post">
        <div class="modifybtn">
        <button type = "button" name = "modbtn" onclick="modItem('<%=item._id%>','<%= btnid %>')"><i class="fa fa-pencil fa-xs "></i></button>
        <button type = "button" style = "display: none;" 
        id = "<%= btnid %>"  onclick="submitValue('<%=item._id%>','<%= btnid %>')"></button>
        </div>
    <input type="hidden" name="modifyid" value="<%=item._id%>">
    <input type="hidden" name ="modifyvalue" value="<%= item.name %>">
    <input type="hidden" name="listType" value=<%= listType  %> >
    
    </form>
   
</div>
<% btnid += 1  %> 
<% }); %>
    
    
  



    <form class="item" action="/" method="post">

        <!-- <label for="newItem"></label>Enter data -->
        <input type="text" name="newItem" id="newItem" placeholder="New Item" autocomplete="off">

        <button type="submit" name="list" value=<%= listType %>>+</button>

    </form>
</div>

<div class="box" id="footer">
    <h1><%=listType%> </h1>
</div>

<script>
    function submitBtn(btnid) {
  var chngDisp = document.getElementById(btnid);
  if (chngDisp.style.display === "none") {
    chngDisp.style.display = "block";
  } else {
    chngDisp.style.display = "none";
  }
}
    function modItem(valueId,btnid){
       var toggleMod =  document.getElementById(valueId);
    //    var changeTextbtn = document.getElementById(btnid);
       if(toggleMod.hasAttribute('disabled')){
       toggleMod.toggleAttribute('disabled',false);
    //    changeTextbtn.innerHTML = "Edit Content";
       submitBtn(btnid);
       }
       else {
        submitBtn(btnid);
       toggleMod.toggleAttribute('disabled',true);
       
    //    changeTextbtn.innerHTML = "Submit";
       }
    // console.log(changeTextbtn);
    }
    function submitValue(textId, btnid){
        var changeVal = document.getElementById(textId);
        var submitVal = document.getElementsByName("modifyvalue");
        submitVal[btnid].value = changeVal.value;
        var form = document.getElementsByName("modForm");
        form[btnid].submit();
        
    }
</script>
<%- include ('footer') -%>